* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
.white {
  color: white;
}

:root {
  --grigio: #4A4A4A;
  --grigio-scuro: #222222;
  --grigio-opaco:#626F7C;
}

.flex {
  display: flex;
}

/* /common */

body {
  height: 100vh;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
}

.header {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  align-items: center;
  justify-content: end;
}

.btn-top {
  background-color: var(--grigio);
  padding: 5px;
  border-radius: 5px;
}

.button {
  list-style: none;
}
.li-button {
  margin-right: 10px;
}

main {
 padding-top: 80px;
}

.container-main {
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.img {
  height: 100px;
  width: 200px;
  margin-top: 20px;
  background-image: url(../img/landscape.jpg);
  background-position: center;
  align-items: end;
  margin-right: 10px;
}

.text {
  background-color: var(--grigio-opaco);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: var(--grigio-scuro);
  align-items: center;
}

.container-footer {
  justify-content: space-between;  
}

.ul-footer {
  list-style: none;
}

.block {
  background-color: transparent;
  border: 0;
  margin-right: 15px;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.block:hover {
  background-color: gray;
  border: var(--grigio-opaco);
  border-radius: 5px;
}

.fa-microphone {
  font-size: 2em;
}
.fa-chevron-up {
  align-items: end;
}

.text-footer {
  font-size: 1em;
}

.fa-video {
  font-size: 2em;
}

.fa-user-plus {
  font-size: 2em;
}